## Hypothesis: Warmer regions have lesser number of COVID-19 cases

### New Cases per capita worldwide

In [1]:
import pandas as pd
import numpy as np

In [3]:
new_cases_percapita = pd.read_csv('new_cases_per_million.csv')
new_cases_percapita

,date,World,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,United States Virgin Islands,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Western Sahara,Yemen,Zambia,Zimbabwe
0,2019-12-31,0.003,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,2020-01-01,0.000,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,2020-01-02,0.000,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,2020-01-03,0.002,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,2020-01-04,0.000,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2020-04-26,13.049,2.877,11.815,2.942,25.885,0.00,0.0,0.0,7.611,...,9.576,9.500,0.866,0.000,0.176,0.0,10.045,0.000,0.000,0.135
118,2020-04-27,10.717,1.747,4.865,2.873,90.597,0.03,0.0,0.0,0.000,...,0.000,2.879,0.657,0.000,0.070,0.0,0.000,0.000,0.218,0.000
119,2020-04-28,8.394,4.418,3.475,3.079,38.827,0.03,0.0,0.0,4.934,...,38.306,4.030,0.508,0.000,0.141,0.0,0.000,0.000,0.054,0.067
120,2020-04-29,9.363,3.185,4.865,3.010,64.712,0.00,0.0,0.0,2.744,...,0.000,1.439,1.046,0.000,0.000,0.0,0.000,0.000,0.326,0.000
121,2020-04-30,9.800,3.134,5.560,4.538,64.712,0.00,0.0,0.0,3.496,...,67.035,1.439,1.882,1236.094,0.070,0.0,0.000,0.168,0.109,0.538