## Hypothesis: Warmer regions have lesser number of COVID-19 cases

### New Cases per capita worldwide

In [5]:
import pandas as pd
import numpy as np

In [6]:
new_cases = 'new_cases_per_million.csv'

In [9]:
def get_cases(csv_file):
    
    """Given a filename which has a comma separated (.csv) filetype,return a N dimensional 
    array (numpy.ndarray).
    
    We load the file as a pandas dataframe having no headers and load only the relevant columns 
    needed for analysis.
    
    :param csv_file: The csv file to load
    :return: a N dimensional array (numpy.ndarray)
    """
    data_file = pd.read_csv(csv_file,usecols=['date','Australia','United States','United States Virgin Islands']) # Importing only necessary columns from the dataset
    return data_file

In [10]:
covid_cases = get_cases(new_cases)
covid_cases #time to process=?

           date  Australia  United States  United States Virgin Islands
0    2019-12-31      0.000          0.000                           NaN
1    2020-01-01      0.000          0.000                           NaN
2    2020-01-02      0.000          0.000                           NaN
3    2020-01-03      0.000          0.000                           NaN
4    2020-01-04      0.000          0.000                           NaN
..          ...        ...            ...                           ...
117  2020-04-26      0.627        146.612                         9.576
118  2020-04-27      0.392         81.138                         0.000
119  2020-04-28      0.471         68.099                        38.306
120  2020-04-29      0.510         72.906                         0.000
121  2020-04-30      0.314         82.555                        67.035

[122 rows x 4 columns]

In [12]:
covid_cases.rename({'date': 'Date'}, axis=1, inplace=True)
covid_cases

           Date  Australia  United States  United States Virgin Islands
0    2019-12-31      0.000          0.000                           NaN
1    2020-01-01      0.000          0.000                           NaN
2    2020-01-02      0.000          0.000                           NaN
3    2020-01-03      0.000          0.000                           NaN
4    2020-01-04      0.000          0.000                           NaN
..          ...        ...            ...                           ...
117  2020-04-26      0.627        146.612                         9.576
118  2020-04-27      0.392         81.138                         0.000
119  2020-04-28      0.471         68.099                        38.306
120  2020-04-29      0.510         72.906                         0.000
121  2020-04-30      0.314         82.555                        67.035

[122 rows x 4 columns]